*{
    background-color: rgb(38, 214, 150);
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h3{
    text-decoration: underline;
}
#red{
    color:red;
}
#blue{
    color:rgb(54, 54, 211);
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
.color-name{
    font-weight: bold;
}
img{
    height: 200px;
    width:200px;
}